<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

    <course-card *ngFor="let course of courses; index as i"
    
            (courseSelected)="onCourseSelected($event)" 
            [course]="course" [cardIndex]="i+1"></course-card>
    
</div>


