:root {
    font-size: 16px;
    font-family: "Chirp"; 
    /* "Montserrat", "Fira Sans", "Comic Sans", sans-serif; */
}

h2 {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 15px;
    margin-right: 15px;
}

textarea {
    width: 500px;
    height: 300px;
}

#inputForm {
    max-width: 500px;
    max-height: auto;
    border: 3px solid white;
    padding: 7px;
    border-radius: 1rem;
}

#title {
    width: 500px;;
    height: auto;
}

.blogCard {
    display: flex;
    justify-content: center;
}

#blogPosts {
    margin-left: 40px;
}

#blogs {
    border: 3px solid white;
    border-radius: 1rem;
    width: 500px;
    height: 250px;
    background-color: rgb(47, 51, 54);
    margin-bottom: 15px;
}

.postTime {
    margin-left: 15px;
}

.body {
    overflow: auto;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    max-height: 150px;
}

.postTime {
    font-size: 13px;
    color: #D3D3D3;
    border-bottom: 1px solid lightgrey;
}

.scroll {
    overflow: auto;
    max-height: 500px;
}
    
.publishButton {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 10px 20px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
    transition: all 0.25s ease-in;
}

.publishButton:hover {
    background-color: #1DA1F2;
    color: white;
}