:root {
    font-size: 16px;
    font-family: "Chirp"; 
    /* "Montserrat", "Fira Sans", "Comic Sans", sans-serif; */
}

.galleryCard {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto auto auto;
    min-height: 400px;
}

.postImage {
    width: 400px;
    height: 500px;
}

.post {
    background-color: rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 700px;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.user {
    margin-left: 16px;
}

.comments {
    margin-top: 12px;
    margin-left: 16px;
    overflow: auto;
    height: 40px;
}

.material-icons:hover {
    cursor: pointer;
}

.addComment {
    border-top: 1px solid lightgrey;
    display: flex;
    margin-top: 30px;
    margin-left: 16px;
}

#counterLikes {
    color: white;
}

.commentStyle {
    margin-top: 2px;
    margin-bottom: 2px;
}

.goUp {
    width: 35px;
    height: 35px;
    transition: .5s ease;
    cursor: pointer;
}

.goUp:hover {
    opacity: 0.4;
}