:root {
    font-size: 16px;
    font-family: "Chirp"; 
    /* "Montserrat", "Fira Sans", "Comic Sans", sans-serif; */
}

body {
    margin: 0;
    background-color: #14171A;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
li {
    margin: 0 0.5rem;
}

li:hover {
    cursor: pointer;
}
  
nav {
    display: flex;
    justify-content: space-between;
    background-color: #14171A;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.welcomeCard {
    margin: 0.8rem 2rem auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(47, 51, 54); /* rgb(47, 51, 54) or #657786 */;
    margin-top: 7rem;
    margin-left: 18rem;
    margin-right: 18rem;
    border-radius: 1.5em;
    box-shadow: 0 0 8px 1 rgba(255, 255, 255, 0.1);
}

#personalImage {
    border-radius: 50%;
    /* width: 230px; */
    max-width: 230px;
    height: auto;
    box-shadow: 0 0 16px 0.5 rgba(255, 255, 255, 0.1);
}

#linkedInLogo {
    width: 35px;
    height: auto;
    margin-top: 200px;
    transition: .5s ease;
}

#linkedInLogo:hover {
    opacity: 0.4;
}

#introduction {
    margin: 5rem 2rem;
    line-height: 2rem;
    font-size: 22px;
}

.headers {
    margin-top: 17rem;
    padding: 1rem 2rem;
    color: white;
}

.aboutCard {
    margin: 0.8rem 2rem auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(47, 51, 54); /* rgb(47, 51, 54) or #657786 */;
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 18rem;
    border-radius: 1.5em;
    box-shadow: 0 0 8px 1 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    max-width: fit-content; 
    max-height: fit-content;
}

.divText {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3rem;
}

.contactCard {
    margin: 0.8rem 2rem auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(47, 51, 54); /* rgb(47, 51, 54) or #657786 */;
    margin-top: 4rem;
    margin-left: 26rem;
    margin-right: 26rem;
    border-radius: 1.5em;
    box-shadow: 0 0 8px 1 rgba(255, 255, 255, 0.1);

    min-width: 576px;
}

input[type=text], select, textarea {
    display: flex;
    width: 20rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

#shuttleSize {
    width: 350px;;
    height: 350px;
    margin-left: 250px;
}

.progressContainer {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progressBar {
    height: 8px;
    background: #1DA1F2;
    width: 0%;
}

.submitButton {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 10px 20px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
    transition: all 0.25s ease-in;
}

.submitButton:hover {
    background-color: #1DA1F2;
    color: white;
}