:root {
    font-size: 16px;
    font-family: "Chirp", "sans-serif";
}

.title {
    text-align: center;
}

.track {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.squares {
    display: block;
    width: 32px;
    height: 32px;
    outline: 2px solid grey;
    margin: 2px;
    flex: 0 0 auto;
}

.squares:first-child {
    background-color: red;
}

.button {
    display: block;
    margin: 3rem auto;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 10px 20px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
    transition: all 0.25s ease-in;
}

.button:hover {
    background-color: black;
    color: white;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
}

.icons {
    width: 32px;
    height: 32px;
}

.players {
    display: inline-block;
    width: 32px;
    height: 32px;
    outline: 2px solid grey;
    margin: 2px;
    flex: 0 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#turtle-square {
    background-color: lightgreen;
}

#rabbit-square {
    background-color: lightpink;
}

.score {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
}

.scoreTable {
    position: relative;
    max-width: 250px;
    border-radius: 1em;
    border-color: black;
    margin: 5rem auto;
    padding: 1.5rem;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
}


.message {
    text-align: center;
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 300ms ease-out, transform 400ms ease-out;
}
.message-card {
    display: inline-block;
    margin: 1em auto;
    padding: 2rem 3rem;
    background-color: #212121;
    color: white;
    border-radius: 16px;
    font-size: 3em;
}

.reveal {
    opacity: 1;
    transform: translateY(-80px);
  }
