:root {
    font-size: 16px;
    font-family: "Comic Sans", sans-serif;
}

header {
    text-align: center;
}

body {
    color: rgb(0, 0, 0);
}

h4 {
    margin: 0.5rem auto;
}

h2 {
    margin-top: 0;
}

hr {
    margin: 1rem auto;
    border: 0.5px solid rgb(201, 201, 201);
}

input:focus {
    background-color: lightgrey;
}

select:focus {
    background-color: ivory;
}

.media {
    position: absolute;
    right: 15px;
    top: 30px;
}

.media img {
    height: 100px;
    width: 100px;
}

.card {
    position: relative;
    max-width: 550px;
    border-radius: 1em;
    border-color: black;
    margin: 1rem auto;
    padding: 1.5rem;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
}

.button {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 10px 20px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
    transition: all 0.25s ease-in;
}

.button:hover {
    background-color: black;
    color: white;
}