html {
    font-family: sans-serif;
}

.headMenu {
    display: block;
    width: 60%;
    margin: auto;
}

.countries {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

span {
    display: flex;
    background-color: darkblue;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}