<div class="course-card" *ngIf="course"
                [ngClass]="cardClasses()"
                [ngStyle]="{'font-weight': 'bold'}">

    <div class="course-title">
        {{ cardIndex + " " + course.description }}
    </div>

    <img width="300" alt="Angular Logo" *ngIf="isImageVisible(); else noImage"
         [src] = "course.iconUrl">

    <ng-template #noImage>
        <p>No image is available.</p>
    </ng-template>

    <div class="course-description">
        {{ course.longDescription }}
    </div>

    <div class="course-category" [ngSwitch]="course.category">
        <div class="category" *ngSwitchCase="'BEGINNER'">
            Beginner
        </div>
        
        <div class="category" *ngSwitchCase="'INTERMEDIATE'">
            Intermediate
        </div>

        <div class="category" *ngSwitchCase="'ADVANCED'">
            Advanced
        </div>
        
        <div class="category" *ngSwitchDefault>
            NONE
        </div>
    </div>

    <button (click)="onCrsViewed()">Click me</button>

</div>