
<div class="theBoard">

    <div>
        <h1>Current player: {{ player }}</h1>
    </div><br>

    <div class="boardStyle">
        <app-square *ngFor="let square of squares let squareNo = index"
                [value]="square"
                (click)="selectedSquare(squareNo)"

        ></app-square>
    </div>  
    
    <h1 *ngIf="winner">Winner: {{ winner }}</h1>
</div>